.sidebar-container {
  box-shadow: 5px 5px 5px var(--ternary-light);
}

.filter-container {
  font-weight: bold;
  font-size: 1.2rem;
  border-right: 3px solid var(--secondary-light);

  width: 50%;
}

.filters-label-div {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.checkbox-container {
  width: 65%;
  .checkbox {
    padding: 0px 2px;
    border-radius: 2px;
  }

  .unchecked {
    padding: 0px 2px;
  }
}

#per-page-select {
  background-color: white;
}

.options-container {
  min-height: 0vh;
  max-height: 0vh;
  z-index: 1;
  .option {
    background-color: white;
  }
}
